.sidebar-container {
	// height: 800px;
	.profile-pic {
		transform: translateY(40px);
	}

	.over-all {
	}

	.contact {
		border-radius: 10px;
		padding-inline: 20px;
		.contact-item-container {
			border-bottom: 1px solid rgba(128, 128, 128, 0.113);

			&:last-child {
				border-bottom: none;
			}

			.contract-icon {
				background-color: white;
				border-radius: 8px;
				height: 40px;
				width: 40px;
			}
			.contract-details {
				:first-child {
					font-size: 11px;
				}

				:last-child {
					font-size: 14px;
				}
			}
		}
	}

	.download-btn {
		background-color: var(--color-primary);
		height: 50px;
		border-radius: 24px;
		padding-inline: 40px;
		color: white;

		&:hover {
			background-color: var(--color-primary-darker);
		}
	}
}
