@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/index.scss";

@layer base {
	html {
		font-family: var(--font-fanum);
        background: linear-gradient(240.75deg, #afe6f0 -7.54%, #ececec 55.54%, #ffc1c1 101.81%);
	}

	:lang(en) {
		font-family: var(--font-inter);
	}
}

